@tailwind utilities;
@import "tailwindcss";
@import "tailwindcss/preflight";

@theme {  
  --color-golden: #EFE66A;
  --color-silver: #E9E9E7;
  --color-online: #43A25A;
  --color-offline: #82838B;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #9390B5;
    color: white;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.525);
    font-weight: bold;
}

.default_text {
  font-weight: normal;
  -webkit-text-stroke: 0px rgba(0, 0, 0, 0.525);
  color: black;
}

.default_button {
  border-style: var(--tw-border-style);
  border-width: 2px;
  border-radius: var(--radius-lg);
  padding: calc(var(--spacing) * 1.5);
  color: white;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.525);
  font-weight: bold;
}

.hover {
  @apply cursor-pointer transition-transform ease-in-out duration-100;
}

.hover-increase {
  @apply cursor-pointer hover:scale-110 transition-transform ease-in-out duration-100;
}

/* visualize boundaries */
/* * {
  outline: 1px solid red;
} */